<tr>
  <td class="col-min">
    <span class="label label-success"><i class="fa fa-random"></i></span>
  </td>
  <td>
    <a href="#">{{ val.label }}</a>
  </td>
  <td class="col-min"></td>
  <td class="col-min"></td>
</tr>
