{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
  <h1>Audit</h1>

  {% include 'AppBundle::flashes.html.twig' %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="toolbar">
        {{ filter_dropdown(logs, "blamed", users) }}
        {{ filter_dropdown(logs, "class", sourceClasses) }}
      </div>
      <h3 class="panel-title"><i class="fa fa-archive"></i> Audit</h3>
    </div>

    <table class="table">
      <tbody>
        {% for log in logs %}
          {{ audit(log) }}
        {% endfor %}
      </tbody>
    </table>

    <div class="panel-footer">
      {{ pagination(logs) }}
    </div>
  </div>
{% endblock %}
