{% set flashIconMap = {danger: 'exclamation-circle', success: 'check-circle', info: 'info-circle'} %}
{% for type, bag in app.session.flashbag.all() %}
  {% for message in bag %}
    <div class="alert alert-{{ type }}">
      <span class="fa fa-{{ flashIconMap[type] }}"></span>
      {{ message }}
    </div>
  {% endfor %}
{% endfor %}
