{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
  <div class="header">
    <nav>{{ knp_menu_render('AppBundle:MenuBuilder:top', {currentClass: 'active'}) }}</nav>
    <h3 class="text-muted"><a href="{{ path("homepage") }}">Symfony Force Edition</a></h3>
  </div>

  {% block content %}{% endblock %}

  <footer class="footer">
    {% include(cms_block('footer')) %}
  </footer>
</div>
{% endblock body %}
