{% extends '::layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="header">
    <nav>{{ knp_menu_render('AppBundle:MenuBuilder:top', {currentClass: 'active'}) }}</nav>
    <h3 class="text-muted"><a href="{{ path("homepage") }}">Deathstar</a></h3>
  </div>

  {% block content %}{% endblock %}

  <footer class="footer">
    <p>&copy; 2015 DATA-DOG</p>
  </footer>
</div>
{% endblock body %}
