/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/Resources/views/layout.html.twig
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/assets/vendor/
/bin/
/composer.phar
/node_modules
/vendor/
/web/bundles/
/web/css/
/web/fonts/
/web/js/
/web/img/
