/.vagrant
/behat.yml
/ansible/*.tar.gz
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/assets/vendor/
/bin/
/node_modules
/vendor/
/web/build/
/web/bundles/
/docker-compose.yml
/app/session
