# vi: set ft=yaml ts=2 sw=2 sts=2 :

default:
  formatters:
    pretty:
      verbose: true
      paths: true
      snippets: true

  extensions:
    Behat\MinkExtension:
      sessions:
        default:
          symfony2: ~
    Behat\Symfony2Extension:
      kernel:
        env: test
        debug: false

  suites:
    default:
      contexts:
        - AppBundle\Behat\PlaceholderContext
        - AppBundle\Behat\DatabaseContext
        - AppBundle\Behat\MailerContext
        - AppBundle\Behat\PageContext
        - AppBundle\Behat\UserContext
        - Behat\MinkExtension\Context\MinkContext
      filters:
        tags: @user

    api:
      contexts:
        - ApiBundle\Behat\APIContext
        - AppBundle\Behat\PlaceholderContext
        - AppBundle\Behat\DatabaseContext
        - AppBundle\Behat\UserContext
      filters:
        role: "api user"

