# vi: set ft=yaml ts=2 sw=2 sts=2 :

parameters:
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: null
  database_name: "{{ db_name }}"
  database_user: "{{ db_user }}"
  database_password: "{{ db_pass }}"

  locale: en
  secret: "{{ secret_salt }}"
