{% extends '::admin.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("admin") }}">
                    {{ 'admin_project_name'|trans }}
                </a>
            </div>
            {{ knp_menu_render('AdminBundle:MenuBuilder:user', {currentClass: 'active'}) }}
            {{ knp_menu_render('AdminBundle:MenuBuilder:main', {currentClass: 'active'}) }}
        </div>
    </nav>

    <div class="container container-content">
        {% block content %}{% endblock %}
    </div>

{% endblock body %}

{% block css %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}
