{% extends '::layout.html.twig' %}

{% block content %}
<div class="jumbotron">
  <h1>Deathstar</h1>
  <p class="lead">Symfony2 application skeleton.</p>
  <br/><br/>
</div>

{% include '::flashes.html.twig' %}

<div class="well content">
  <p>hello world</p>
</div>

{% endblock %}
