{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="jumbotron">
  <h1>Deathstar</h1>
  <p class="lead">Symfony2 application skeleton.</p>
  <br/><br/>
</div>

{% include 'AppBundle::flashes.html.twig' %}

<div class="page-header">
  <h2>Homepage</h2>
</div>

<div class="well content">
  <p>hello world</p>
</div>

{% endblock %}
