parameters:
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: ~
  database_name: symfony2
  database_user: root
  database_password: ~

  locale: en
  secret: ThisTokenIsNotSoSecretChangeItOnProduction

  mailer_transport: smtp
  mailer_host: mailtrap.io
  mailer_user: 33434104a686874df
  mailer_password: 70905ac4f06417
  mailer_sender: { noreply@deathstart.dev: "Death Star" }
  mailer_auth_mode: cram-md5
  mailer_port: 2525
