# vi: set ft=yaml ts=2 sw=2 sts=2 :
parameters:
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: ~
  database_name: symfony2
  database_user: root
  database_password: ~

  locale: en
  secret: ThisTokenIsNotSoSecretChangeItOnProduction
  cache_namespace: deathstar # should be unique per release on production

  mailer_transport: smtp
  mailer_host: mailtrap.io
  mailer_user: 33434104a686874df
  mailer_password: 70905ac4f06417
  mailer_sender: { noreply@deathstart.dev: "Death Star" }
  mailer_auth_mode: cram-md5
  mailer_port: 2525

  redis_host: 127.0.0.1
  redis_port: 6379

  recaptcha_public_key: "pub-key"
  recaptcha_private_key: "priv-key"

