user {{ user }};
worker_processes  2; # number of cpus * 2

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    # max request header size (file uploads needs more space)
    # seems it is ignored on old nginx versions (putting to server as well)
    client_max_body_size 32M;

    log_format main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    log_format time_combined '$remote_addr - $remote_user [$time_local] "$request" '
                             '$status $body_bytes_sent "$http_referer" '
                             '"$http_user_agent" "$http_x_forwarded_for" '
                             '$request_time $upstream_response_time $pipe';

    access_log /var/log/nginx/access.log main;

    sendfile on;

    keepalive_timeout 65;

    gzip on;
    gzip_disable "MSIE [1-6]\.(?!.*SV1)";

    ##
    # Virtual Hosts
    ##
    include /etc/nginx/sites-enabled/*.conf;

    include /etc/nginx/conf.d/*.conf;
}
